.cart__wrapper {
    padding: 80px 16px;
    min-height: 600px;
}

.cart__title {
    padding: 0 10px;
}

.cartItem__img {
    background-color: #999;
    padding: 16px;
}

.cartItem__name {
    font-size: 20px;
    font-weight: 700;
}

.cartItem__amount {
    font-size: 20px;
}

.cart__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart__footer p {
    font-size: 24px;
    font-weight: 700;
    margin: auto 0;
}

.cart__footer p span {
    font-size: 24px;
    font-weight: 500;
    margin-left: 12px;
}

.cart__footer button {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.cart__max__height{
    max-height: 500px;
    overflow: scroll;
}

.cart__max__height::-webkit-scrollbar {
    display: none;
}

.my-w:first-child {
    width: 200px
}

.my-w:nth-child(2) {
    width: 248px
}


.my-w:nth-child(3) {
    width: 180px
}

.my-w:nth-child(4) {
    width: 165px
}


.my-w:last-child {
    width: 130px
}

.my-emptyCart {
    height: 200px !important;
}