:root {
    --font-color-header: #000;
}

.header__wrapper {
    border-bottom: 2px solid #ccc;
    position: relative;
    z-index: 9999999999999999 !important;
}

.header__logo {
    font-weight: 700;
    font-size: 32px;
}
.header {
    padding: 24px 16px;
}


.my-navbar {
    flex: 2;
    margin: 0 auto;
    
}
.header__nav,
.header__right {
    color: var(--font-color-header);
}

.header__right {
    transition: .3s linear;
    font-weight: 500;
}

.header__nav {
    position: relative;
    font-weight: 700;
    padding: 8px 16px;
    transition: .3s linear;
    font-size: 20px;
}

.header__nav::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    border-radius: 20px;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: .3s linear;
}

.header__nav:hover,
.header__right:hover {
    color: #000;
    text-decoration: none;
}

.header__nav:hover::after {
    width: 100%;

}


