.page__title {
    font-size: 24px;
    font-weight: 700;

}

.page__more {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s linear;
}

.page__more:hover {
    color: #007bff;
}

.card-title-price {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    color: white;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
}

.product {
    box-shadow: 3px 2px 9px 0px rgba(0,0,0,0.8);
    transition: .2s linear;
    border-radius: 5px;
    /* overflow: hidden; */
    position: relative;
}

.product__meta {
    position: absolute;
    top: 10px;
    left: -20px;
    background-color: green;
    color: white;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 5px;
}

.product__meta::after {
    position: absolute;
    bottom: -7px;
    left: 4px;
    content: '';
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(1, 84, 1);
    z-index: -1;
}

.card-body {
    overflow: hidden;
}

.card-body .button {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding:8px 32px;
    line-height: 10px;
    height: 45px;
    transform: translateX(100px);
    opacity: 0;
    border: none;
    transition: .3s linear;
}

.product:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.product:hover .button {
    transform: translateX(0);
    opacity: 1;
}

.my-card-top {
    min-height: 250px;
    max-height: 300px;
}